<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Profile">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Perfil</title>
    <link rel="stylesheet" href="nicepage.css" media="screen">
<link rel="stylesheet" href="Perfil.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 3.20.4, nicepage.com">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Site",
		"logo": "images/default-logo.png"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Perfil">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body"><header class="u-header" id="sec-7d00" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""><div class="u-clearfix u-sheet u-sheet-1">
        <a href="Home.html" data-page-id="5605354" class="u-image u-logo u-image-1" data-image-width="80" data-image-height="40" title="Home">
          <img src="images/default-logo.png" class="u-logo-image u-logo-image-1" data-image-width="80">
        </a>
        <nav data-position="" class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700;">
            <a class="u-button-style u-custom-active-border-color u-custom-active-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link" href="#" style="padding: 2px 0px; font-size: calc(1em + 4px);">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;"><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</symbol>
</defs></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-spacing-20 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-2-base" href="Login.html" style="padding: 10px;">Login</a>
</li><li class="u-nav-item"><a class="u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-2-base" href="Home.html" style="padding: 10px;">Home</a>
</li><li class="u-nav-item"><a class="u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-2-base" href="Perfil.html" style="padding: 10px;">Perfil</a>
</li><li class="u-nav-item"><a class="u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-2-base" href="chat.html" style="padding: 10px;">Chat</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Login.html" style="padding: 10px 0px;">Login</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html" style="padding: 10px 0px;">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Perfil.html" style="padding: 10px 0px;">Perfil</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="chat.html" style="padding: 10px 0px;">Chat</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-clearfix u-section-1" id="sec-4b5d">
      <div class="u-clearfix u-sheet u-valign-top u-sheet-1">
        <div class="u-clearfix u-custom-html u-expanded-width u-custom-html-1">
          <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
          <div class="container">
            <div class="flex-lg-nowrap row">
              <div class="col">
                <div class="row">
                  <div class="col mb-3">
                    <h1 style="font-size: 48px; color: #000000; padding: 0px 0; font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: center; padding-bottom: 30px;"> Perfil</h1>
                    <div class="card">
                      <div class="card-body">
                        <div class="e-profile">
                          <div class="row">
                            <div class="col-12 col-sm-auto mb-3">
                              <div class="mx-auto" style="width: 140px;">
                                <img id="foto" src="{{foto}}" alt="Foto">
                              </div>
                            </div>
                            <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                              <div class="mb-2 mb-sm-0 text-center text-sm-left">
                                <h4 class="mb-0 pb-1 pt-sm-2 text-nowrap">{{nome}}</h4>
                                <p class="mb-0">{{email}}</p>
                                <div class="mt-2">
                                  <button class="btn btn-primary" type="button"><i class="fa fa-camera fa-fw"></i>
                                    <span>Mudar foto</span>
                                  </button>
                                </div>
                              </div>
                              <ul class="nav nav-tabs"></ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="card">
                      <div class="card-body">
                        <label>
                          <h4>Dados pessoais:</h4>
                        </label>
                        <div class="container">
                          <div class="row">
                            <div class="col-md-4">
                              <label>Nome:</label>
                              <output class="form-control">{{nome}}</output>
                            </div>
                            <div class="col-md-4">
                              <label>Email:</label>
                              <output class="form-control">{{email}}</output>
                            </div>
                            <div class="col-md-4">
                              <label>Telefone:</label>
                              <output class="form-control">{{telefone}}</output>
                            </div>
                            <div class="col-md-4">
                              <label>Data de nascimento:</label>
                              <output class="form-control">{{data_nasc}}</output>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="card">
                      <div class="card-body">
                        <label>
                          <h4>Endereço:</h4>
                        </label>
                        <div class="container">
                          <div class="row">
                            <div class="col-md-4">
                              <label>Pais:</label>
                              <output class="form-control">{{endereco.pais}}</output>
                            </div>
                            <div class="col-md-4">
                              <label>Estado:</label>
                              <output class="form-control" type="text">{{endereco.estado}}</output>
                            </div>
                            <div class="col-md-4">
                              <label>Cidade:</label>
                              <output class="form-control">{{endereco.cidade}}</output>
                            </div>
                            <div class="col-md-4">
                              <label>Bairro:</label>
                              <output class="form-control">{{endereco.bairro}}</output>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="card">
                      <div class="card-body">
                        <label>
                          <h4>Trabalhador:</h4>
                        </label>
                        <div class="col mb-6">
                          <label>Tipo:</label>
                          <output class="form-control">{{trabalhador.tipos}}</output>
                        </div>
                        <div class="col mb-6">
                          <label>Descrição</label>
                          <output class="form-control" style="height: 120px;">{{trabalhador.descricao}}</output>
                        </div>
                        <div class="col mb-6">
                          <label>Nota:</label>
                          <output class="form-control" type="text">{{trabalhador.nota}}</output>
                        </div>
                      </div>
                    </div>
                    <br>
                    <a href="http://localhost:3002/editarPerfil">
                      <button class="btn btn-primary" type="submit">Editar perfil</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    
    
    <footer class="u-clearfix u-footer u-grey-80" id="sec-4423"><div class="u-clearfix u-sheet u-sheet-1">
        <a href="https://nicepage.com" class="u-image u-logo u-image-1">
          <img src="images/default-logo.png" class="u-logo-image u-logo-image-1">
        </a>
      </div></footer>
    <section class="u-backlink u-clearfix u-grey-80">
      <a class="u-link" href="https://nicepage.com/website-templates" target="_blank">
        <span>Website Templates</span>
      </a>
      <p class="u-text">
        <span>created with</span>
      </p>
      <a class="u-link" href="https://nicepage.com/" target="_blank">
        <span>Website Builder Software</span>
      </a> 
    </section>
  </body>
</html>